.header
{
    width:100%;
    height:60px;
    background-color:#333333;
   
    position: fixed;
    z-index: 20;
    box-shadow: 0 0 10px black;
    
    
}

.logo2{
    
    position: fixed;
    left:30px;
    top:5px;
    z-index:30;
}
.logo1{
     position: fixed;
    left:40px;
    top:16px;
    z-index:31;
}
.head{
    width:100%;
    height:60px;
     
    
}
.glare{
   visibility: hidden;
    position: fixed;
    left:0;
    
}

.bodyc{
   padding-top: 90px;
    min-width: 100%;
    max-width:100%;
    width:100%;
    position: absolute;
    right: 0;
    min-height: 100%;
    left:0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 60px black;
    display: block;
    
}
.header2{
   position: fixed;
    z-index: 26;
    width: 100%;
}
.arrow{
    margin-left: 260px;
    margin-top: 18px;
    cursor: pointer;
    }
.search
{
    margin-left: 50px;
}
.searchb{
   
    height:21px;
    margin-left:5px;
    position: fixed;
    top:17px;
    font-size: 15px;
    width:0;
    visibility: hidden;
    
    
}
.rightt{
    color:white;
    font-size: 20px;
    font-family: heading;
    float:right;
    margin:18px;
    cursor: pointer;
 
}
.bodym{
    
    position: fixed;
    height: 100%;
    width:295px;
    background-color: #333333;
    
    z-index: -25;
    border-right: 5px #4d4d4d solid;
    overflow: auto;
    overflow-x: hidden;
}
.logobed{
   margin-left: 17px;
    margin-top: -6px;
    
}
.menuf{
    
    position: absolute;
    bottom: 10px;
    left: 55px;
}
.bodym>ul{
    list-style-type: none;
    width: 110%;
    margin-left: -5px;
    margin-top: 50px;
    
}
.bodym>ul>li{
   
 color:white;
    background-color: #4d4d4d;
    width:100%;
    margin-bottom: 4px;
    padding: 5px; 
    
}
.bodym>ul>li>a{
    font: 18px heading ;
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.bodym>ul>li:before{content: '';}
.bodym>ul>li a:hover
{
    color:#6699ff;
}
.bodym>ul>li>span:hover
{
    color:#6699ff;
}

/*start*/
.bodym>ul{max-height:45% ;width:102%;overflow: auto;}
.bodym>ul::-webkit-scrollbar {
    width: 2px;
}
.bodym>ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.bodym>ul::-webkit-scrollbar-thumb {
  background-color: #6699ff;
  outline: 1px solid slategrey;
}
.bodym>ul>li>a:before{content:'• ';}
.bodym>ul>li>span{font-weight: bold;font: 18px heading; cursor:pointer;}
.plus:before{content:'+ ';}/*necessary for every open close list item */
.minus:before{content:'- ';padding-right: 4px;}
.bodym>ul>li:hover
{
    box-shadow: 0 0 8px black;
}
.bodym>ul>li>ul{display:none;}
.bodym>ul>li>ul>li{border-bottom: 1px;border-bottom-color: #999999; border-bottom-style: dotted; padding-bottom: 4px; margin-left: 4%; font-family: sans-serif;}
.bodym>ul>li>ul>li:last-child{border-bottom: none; margin-bottom: -3px}
.bodym>ul>li>ul>li:before{content:'•' }
.bodym>ul>li>ul>li>a{color: white;font-family: sans-serif; text-decoration: none;}
.form:nth-child(3)
{
    overflow: scroll;
    height: 300px;
}
.form:nth-child(3)::-webkit-scrollbar {
    width: 2px;
}
.form:nth-child(3)::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.form:nth-child(3)::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid slategrey;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*end*/
.rotate{
     -webkit-animation: rotate 5s linear infinite; /* Chrome, Safari, Opera */
    animation: rotate 5s linear infinite;
    }
.bodym>form{
    position: absolute;
    bottom:80px;
    padding: 10px;
    height: 25%;
    
}
.bodym>form>fieldset>ul>li>a{
    color: #6699ff;
    text-decoration: none;
    
}
.reg{width: 40%;
   
    display: block;
    margin-left: 30%;
    margin-right: auto;
  
    height:300px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0;
    box-shadow: 0 0 20px #333333;
    
    border-radius: 15px 0px 0 0;   
    border: 3px #333333 solid;
    background: #4d4d4d;
    z-index: 1;
}
.form{
   
   
    width:100%;
   
}

.form input{
   
}
.form input[type=date]:after{
    content: 'Enter DOB.';
    color:darkgrey;
}

.form input,.form>select{
    width: 90%;
}

.form select{
    background: white;
    color:black;
}
.form:nth-child(2){
  margin-left: 110%;
    margin-top:-100px;
   
}

.form:nth-child(3){
    margin-left: 110%;
    margin-top:-100px;
   
}

.rmsg{
   
    background: maroon;
    color:white;
    padding: 5px;
    z-index: 10;
    display: block;
    opacity: 0;
    border-radius: 0 0 15px 15px  ;
    width:50%;
    margin-left: 30%;
    margin-right: auto;
   
    margin-bottom: 10px;
    
}
.btn{
    font-size: 100px;
    font-family: heading;
    float:right;
    width: 10%;
    margin-right: 20%;
    margin-top: -300px;
    height: 300px;
    border-radius: 0 15px 0 0;
    padding-top:80px;
    box-shadow: 0 0 0 ;
    text-align: center;
    border: 3px #333333 solid;
    transition: background 0.5s,color 1s,box-shadow 1s;
    cursor:pointer;
    z-index: 100;
    background: #4d4d4d;
    box-shadow: 0 0 20px #333333;

}
.btn:hover{
    background: #333333;
    color: white;
    box-shadow: -5px 0 5px black;
}
.btn:active{
    background: white;
}
.btn2{
    font-size: 100px;
    font-family: heading;
    float:right;
    width: 10%;
    margin-right: 20%;
    margin-top: -300px;
    height: 300px;
    border-radius: 0 15px 0 0;
    padding-top:80px;
    box-shadow: 0 0 0 ;
    text-align: center;
    border: 3px #333333 solid;
    transition: background 0.5s,color 1s,box-shadow 1s;
    cursor:pointer;
    z-index: 100;
    background: #4d4d4d;
    box-shadow: 0 0 20px #333333;
    display:none;

}
.btn2:hover{
    background: #333333;
    color: white;
    box-shadow: -5px 0 5px black;
}
.btn2:active{
    background: white;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotate {
    0%   { -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);}
   
    100% { -ms-transform: rotate(3600deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotate {
    0%   { -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);}
   
    100% { -ms-transform: rotate(-3600deg); /* IE 9 */
    -webkit-transform: rotate(-360deg); /* Safari */
    transform: rotate(-360deg);}
}


@media screen and (max-width: 960px) {
    .arrow{margin-left:160px;}
    .bodym{ width:195px;}
    .bodym>form>fieldset>input{font-size: 15px;}
    .bodym>form{padding: 0px;margin-left: 5px; }
    .bodym>form>fieldset{border:0; padding: 0;}
    .menuf{left:10px;}    
}
@media only screen and (max-width: 600px) {
    /* For mobiles: */
    .arrow{margin-left:130px;}
    .bodym{ width:100%;}
    .bodym>form>fieldset>input{font-size: 15px;}
    .menuf{left:10px;}
}
