
.quiz_table {
    display: table;
    margin-left: auto;
    margin-right: auto;   
      width:90%;
}
.quizlogs{
    padding:25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 60%;
    border-radius: 30px;
    box-shadow: inset  0 0 20px;
    font-size: 25px;
    background: #f0f0f0;
    min-height: 220px;
    
}
.quizlogs>span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    clear: both;
    margin-left: 9px;
}
.quizlogs>span:before{
    content:"â—";
    margin-left: -18px;
    margin-right: 8px;
}
.quizlogs>span>span:nth-child(1){
    font-size: 25px;

    
   
    
}
.quizlogs>span>span:nth-child(2){
    font-size: 25px;

    float: right;
   
   
}
@media only screen and (max-width: 600px) {
    
    
    .quizlogs{width:90%;}
    
    
}