<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="mainfooter col-12">


        <div class="transbr"></div>
         <div class="transbl"></div>
    <p>"Sarvasv is an online platform dhfadsfadhfajkfaba;fhs".</p>
        <hr size="3px" color="azure">
    <div class="midfooter">
        <marquee behavior="alternate" direction="left" width="100%">
        <img src="{% static "images/sspon.png"%}" class="sponsors">
         <img src="{% static "images/sspon.png"%}" class="sponsors">
         <img src="{% static "images/sspon.png"%}" class="sponsors">
         <img src="{% static "images/sspon.png"%}" class="sponsors">
         <img src="{% static "images/sspon.png"%}" class="sponsors">
         <img src="{% static "images/sspon.png"%}" class="sponsors">
         <img src="{% static "images/sspon.png"%}" class="sponsors">
            </marquee>

    </div>
        <hr size="3px" color="azure">
    <p class="Poweredby">Powered by: Technex, IIT(BHU)</p>
       <div class="followus">
           <img src="{% static "images/fb.png"%}" >
        <img src="{% static "images/tw.png"%}" >
           <img src="{% static "images/yt.png"%}" >
           </div>
    <p class="block" padding="10%">&#169;Sarvasv2016</p>
    <div class="tc">
       <center><a href="terms and conditions.html"><u>Terms and Conditions</u></a></center>
    </div>
    </div>
</body>
</html>
