
    {% if message == 'mail sent' %}

            alert('{{ message }}');



       <!-- <input  action="registerform2.html" type="submit" name="otpsubmit" value="submit"  id="otp_submit">-->

    <!-- <script>
        var otps=document.getElementById('OTP').value;
        function otp_compare(otps,otp){
            if(otps==otp){
                return true;
            }
            else
            alert
            return false;
        }
     </script> -->

    {% else %}

            alert('{{ message }}')

    {% endif %}
