<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
	<br>
    First Name &nbsp &nbsp &nbsp  <input type="text" value="f" id="fname" required>
    <br>
    Last Name &nbsp &nbsp &nbsp  <input type="text" value="l" id="lname" required>
    <br>    
    Nickname &nbsp &nbsp  <input type="text" value="u" id="nickname" required>
    <br>
    D.O.B. &nbsp &nbsp &nbsp  <input type="text" value="dob" id="dob" required>
    <br>
    Gender &nbsp &nbsp &nbsp  <input type="text" value="male" id="gen" required>
    <br>
    Father's name Name &nbsp &nbsp &nbsp  <input type="text" value="father" id="fatname" required>
    <br>
    Permanant Address &nbsp &nbsp &nbsp  <input type="text" value="pa" id="pad" required>
    <br>
    Contact &nbsp &nbsp &nbsp  <input type="text" value="6547811231" id="con" required>
    <br>      
    College &nbsp &nbsp &nbsp  <input type="text" value="clg"  id="college" required>
    <br>
    
<input type="submit" value="register
" name="register">
     <script> alert('{{ message }}'); </script>

</form>

</body>
Output1 = {{output}}
</html>