
.profile {
    width:600px;
    height:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    box-shadow: inset 0 0 10px black;
    margin-bottom: 20px;
    background:#a2cdff; 
   
 
}


.profile div {
    margin-left:auto;
    margin-right: auto;
    vertical-align: middle;
    border-radius: 100%;
    position: relative;
     box-shadow:inset 0 0 10px black;
    overflow: hidden;
}

.outline1 {
    width:400px;
    height:400px;
    top:100px;
    
   background: #5787f2;
    transition:transform 1s;
    
   
}
.outline1:hover{
     -webkit-transform: rotate3d(x,y,z,angle); /* Safari */
    transform:rotate3d(-10,-10,-10,360deg);
    
}
.outline1>span{
     font-size: 30px;
    font-family: heading;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    display: block;
    text-align: center;
    position: relative;
    top: 110px;
    
}

.propic1 {
    height:200px;
    width:200px;
    background: #0030d1;
    top:100px;
    transition:transform 2s;
}
.propic1:hover{
     -webkit-transform: rotate3d(20,10,10,720deg); /* Safari */
    transform:rotate3d(20,10,10,720deg);
    
}
.propic1>img{
    height: 150px;
    margin: auto;
    display: block;
    position: relative;
    top:25px;
}

.profile>div:nth-child(2) {
    background:#ffffff;
    height:90px;
    width:90px;
    left:-245px;
    top:-100px;
    box-shadow:inset 0 0 20px black;
  
    
}.profile>div:nth-child(3) {
   background:#ffffff;
    height:90px;
    width:90px;
    left:-166px;
    top:-50px;
    box-shadow:inset 0 0 20px black;
  
    
}.profile>div:nth-child(4) {
    background:#ffffff;
    height:90px;
    width:90px;
    left:165px;
    top:-138px;
    box-shadow:inset 0 0 20px black;
  
    
}.profile>div:nth-child(5) {
    background:#ffffff;
    height:90px;
    width:90px;
    left:243px;
    top:-360px;
    box-shadow:inset 0 0 20px black;
  
    
}
@keyframes tilt1 {
    0%   { -ms-transform:rotate3d(-5,-10,0,0deg); /* IE 9 */
    -webkit-transform: rotate3d(-5,-10,0,0deg); /* Safari */
    transform:rotate3d(-5,-10,0,0deg);}
   
    100% { -ms-transform: rotate3d(-5,-10,0,25deg); /* IE 9 */
    -webkit-transform:rotate3d(-5,-10,0,25deg); /* Safari */
   transform:rotate3d(-5,-10,0,25deg);}
}
.tilt1{
     -webkit-animation: tilt1 1s ; /* Chrome, Safari, Opera */
    animation:  tilt1 1s ;
    -ms-transform: rotate3d(-5,-10,0,25deg); /* IE 9 */
    -webkit-transform:rotate3d(-5,-10,0,25deg); /* Safari */
   transform:rotate3d(-5,-10,0,25deg);
    }
@keyframes tilt2 {
    0%   { -ms-transform:rotate3d(-5,-5,0,0deg); /* IE 9 */
    -webkit-transform:rotate3d(-5,-5,0,0deg); /* Safari */
    transform:rotate3d(-5,-5,0,0deg);}
   
    100% { -ms-transform:rotate3d(-5,-5,0,25deg);/* IE 9 */
    -webkit-transform:rotate3d(-5,-5,0,25deg); /* Safari */
   transform:rotate3d(-5,-5,0,25deg);}
}
.tilt2{
     -webkit-animation: tilt2 1s ; /* Chrome, Safari, Opera */
    animation:  tilt2 1s ;
   -ms-transform:rotate3d(-5,-5,0,25deg);/* IE 9 */
    -webkit-transform:rotate3d(-5,-5,0,25deg); /* Safari */
   transform:rotate3d(-5,-5,0,25deg);
    }
@keyframes tilt3 {
    0%   { -ms-transform:rotate3d(5,-5,0,0deg); /* IE 9 */
    -webkit-transform: rotate3d(5,-5,0,0deg); /* Safari */
    transform:rotate3d(5,-5,0,0deg);}
   
    100% { -ms-transform:rotate3d(5,-5,0,25deg);/* IE 9 */
    -webkit-transform:rotate3d(5,-5,0,25deg); /* Safari */
     transform:rotate3d(5,-5,0,25deg);}
}
.tilt3{
     -webkit-animation: tilt3 1s ; /* Chrome, Safari, Opera */
    animation:  tilt3 1s ;
    -ms-transform:rotate3d(5,-5,0,25deg);/* IE 9 */
    -webkit-transform:rotate3d(5,-5,0,25deg); /* Safari */
     transform:rotate3d(5,-5,0,25deg);
    }
@keyframes tilt4{
    0%   { -ms-transform:rotate3d(5,-10,0,0deg); /* IE 9 */
    -webkit-transform: rotate3d(5,-10,0,0deg); /* Safari */
    transform:rotate3d(5,-10,0,0deg);}
   
    100% { -ms-transform:rotate3d(5,-10,0,-25deg); /* IE 9 */
    -webkit-transform:rotate3d(5,-10,0,-25deg); /* Safari */
  transform:rotate3d(5,-10,0,-25deg);}
}
.tilt4{
     -webkit-animation: tilt4 1s ; /* Chrome, Safari, Opera */
    animation:  tilt4 1s ;
     -ms-transform:rotate3d(5,-10,0,-25deg); /* IE 9 */
    -webkit-transform:rotate3d(5,-10,0,-25deg); /* Safari */
  transform:rotate3d(5,-10,0,-25deg);
    }
.proboard {
    height: 700px;
    width: 500px;
    position: relative;
    top:-350px;
    z-index: -10;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
   overflow-y:scroll;
    padding: 10px;
    padding-bottom: 100px;
    padding-top:350px; 
     background: -webkit-linear-gradient(top, black,rgba(255,0,0,0)60%   ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom,rgba(255,0,0,0)60%, black   ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom,rgba(255,0,0,0)60%, black    ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom,rgba(255,0,0,0)60%, black  ); /* Standard syntax */
}



.proboard::-webkit-scrollbar {
    width: 5px;
}
.proboard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.proboard::-webkit-scrollbar-thumb {
  background-color: #6699ff;
  outline: 1px solid slategrey;
}