
<!DOCTYPE html> 
<html>
<head>
    
    <div class="header">
        <img src="images/head.png" class="head">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </div>
    <img src="images/s_logo_2.png" class="logo2">
    <img src="images/s_logo_1.png" class="logo1">
    <div class="header2">
    <img src="images/arrow.png" class="arrow">
        <img src="images/search.png" class="search">
        
        <input type="text" class="searchb" >
        
        <span class="rightt">Sign in/up</span>
    
 <img src="images/glare.png" class="glare">  
    </div>
    
    <title>Sarvasv-IITBHU</title>
 <!-- css-->
    <link rel="stylesheet" type="text/css" href="stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
     <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
	 <link rel="stylesheet" type="text/css" href="stylesheets/select_quiz.css">
	
 <!-- Scripts -->
    <script src="scripts/jquery-2.2.1.min.js" type="text/javascript"></script>
     <script src="scripts/layout.js" type="text/javascript"></script>
      <script src="scripts/select_quiz.js" type="text/javascript"></script>
  
    
</head>

<body><div class="bodym">
    
    <img src="images/logobed.png" class="logobed">
    <ul>
    <li><a>Events</a></li>
        <li><a>Leaderboard</a></li>
        <li><a>Forum</a></li>
        <li><a>Library</a></li>
        <li><a>About Us</a></li>
    </ul>
    <form method="post" action="">
    <fieldset>
        <legend>Login</legend>
        <input type="text" name="uname" placeholder="User name">
        <br><input type="password" name="pwd" placeholder="Password">
        <br><input type="submit" value=" Login ">
        <ul><li><a href="#">Forgot Password ?</a></li><li><a href="#">Register</a></li></ul>
        </fieldset>
    </form>
    <img src="images/menu_foot.png" class="menuf">
    
         
    </div>
    <div class="bodyc"><br>
    <div class="row" >
    <div class="righ col-2">
        <div class="first">
        <img src="images/notif.png" id="dash_imgs"><br>
        <p id="elements">Notifications</p>
        </div>
        <div class="second">
        <img src="images/current%20status.png" id="dash_imgs"><br>
        <p id="elements">Current Status</p>
        </div>
        <div class="third">
        <img src="images/achievements.png" id="dash_imgs"><br>
        <p id="elements">Achievements</p>
        </div>
        <div class="fourth">
        <img src="images/user%20profile.png" id="dash_imgs"><br>
        <p id="elements">User Profile</p>
        </div>
        <div class="fifth">
        <img src="images/changep.png" id="dash_imgs"><br>
        <p id="elements">Change Password</p>
		</div>
		<div class="sixth">
		<img src="images/select_quiz.png"
		id="dash_imgs"><br>
		<p id="elements">Select Quiz</p>	
		</div>	
    
    </div>
        <div class="profile">
        <div class="dp">
            <img src="images/s_logo_1.png">
            <a href="findex.htm" class="transbox"><b>Change Profile Pic</b></a>
        </div>
        <div class="info">
        <div class="name">
           Harshit Ankur Jain
        </div>
        <div class="clg">
            <p>IIT BHU</p>
            <img src="images/s_logo.png">
        </div>
        <div class="points">
            <img src="images/s_logo.png">
        </div>
        </div>
        </div>
    </div>
		<div class="vadda">
		<div class="edit">
			<div class="ehead" onclick="$('.fake1').animate({'opacity':'1'});"><center>Previous Quizes</center></div>
			<div class="fake1"></div>
		</div>
		<div class="create">
			<div class="chead"
				 onclick="$('.fake2').animate({'opacity':'1'});"><center>Start a Quiz</center>
			</div>
			<div class="fake2"></div>
			</div>
			
		</div>
    </div>
</body>
</html>